/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-items: center;
  padding-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), Arial, sans-serif;
  font-weight: var(--main-font-weight);
  line-height: normal;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  background-image: repeating-linear-gradient(to right, var(--main-bg-repeating-linear-gradient) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--main-bg-repeating-linear-gradient) 0px 2px, transparent 2px 4px),
  linear-gradient(var(--main-bg-linear-gradient));
  background-attachment: fixed;
  background-size: cover;
}

.content_section {
  inline-size: var(--main-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--header-padding-block);
  border: 2px solid currentColor;
  background-color: var(--main-bg-color);
}

.header__logo {
  color: inherit;
  font-family: inherit;
  font-size: var(--header-logo-font-size);
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding-block-end: 20px;
}

.header__title {
  color: inherit;
  font-family: inherit;
  font-size: var(--header-title-font-size);
  line-height: inherit;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  scale: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: scale 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
} 

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  opacity: .6;
}

.card {
  background-color: var(--main-bg-color);
  color: inherit;
  border: 2px solid currentColor;
}

.card__title {
  color: inherit;
  font-family: var(--article-font-family), Arial, sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--article-header-font-wght);
  line-height: inherit;
  padding: 5px 10px;
}

.card__wrap {
  position: relative;
  border-block: 2px solid currentColor;
  margin-block-end: 24px;
}

.card__wrap__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__wrap__img-label {
  position: absolute;
  inset-inline-end: var(--inset-inline-end-label);
  inset-block-start: var(--inset-block-start-label);
  color: inherit;
  font-family: var(--main-font-family), Arial, sams-serif;
  font-size: 14px;
  font-weight: inherit;
  line-height: inherit;
  opacity: .5;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px 0px var(--text-shadow-label),
    -1px -1px 0px var(--text-shadow-label);
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .card__wrap__img-label {
    -webkit-text-stroke: 1px var(--text-shadow-label);
    text-stroke: 1px var(--text-shadow-label);
    text-shadow: none;
  }
}

.card__text {
  font-family: var(--article-font-family), Arial, sans-serif;
  font-variation-settings: var(--article-font-settings);
  color: inherit;
  font-size: 18px;
  padding-inline: 25px;
}

.card__text-modified {
  padding-block-end: 27px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin: 25px 25px 25px;
}

.card__icon-button {
  background-color: transparent;
  max-block-size: 38px;
  
}

