/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-items: center;
  padding-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), Arial, sans-serif;
  font-weight: var(--main-font-weight);
  line-height: normal;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  background-image: repeating-linear-gradient(to right, var(--main-bg-repeating-linear-gradient) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--main-bg-repeating-linear-gradient) 0px 2px, transparent 2px 4px),
  linear-gradient(var(--main-bg-linear-gradient));
  background-attachment: fixed;
  background-size: cover;
}

.content_section {
  inline-size: var(--main-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--header-padding-block);
  border: 2px solid currentColor;
  background-color: var(--main-bg-color);
}

.header__logo {
  color: inherit;
  font-family: inherit;
  font-size: var(--header-logo-font-size);
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding-block-end: 20px;
}

.header__title {
  color: inherit;
  font-family: inherit;
  font-size: var(--header-title-font-size);
  line-height: inherit;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: 0;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  scale: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: scale 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
} 